.ScheduleTable {
  .currentDay {
    background: #ebf2ff;
  }
}
.currentDay {
  background: #ebf2ff;
  //width: 6.5%;
  width: 69.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
  p {
    width: 69.33px;
    text-align: center;
    padding-top: 5px;
    //position: fixed;
  }
  & p:nth-child(2) {
    //margin-top: 30px;
  }
}
.tableDiv {
  //width: 6.5%;
  width: 69.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
  p {
    width: 69.33px;
    text-align: center;
    padding-top: 5px;
    //position: fixed;
  }
  & p:nth-child(2) {
    //margin-top: 30px;
  }
}
.dateList {
  //position: relative;
  //.dateChildren {
  //  position: absolute;
  //  z-index: 2;
  //  height: 20px;
  //  color: #fff;
  //}
}
.iconBox {
  i {
    margin: 0 1px;
    cursor: pointer;
  }
  .anticonDelete{
    color: red;
    cursor: pointer;
  }
}
.cardDiv {
  overflow-y: auto;
  height: 500px;
  overflow-x: hidden;
}
//.cardDiv::-webkit-scrollbar{
//  width:0px !important;
//}
//.dateWeek::-webkit-scrollbar{
//  width:0px !important;
//}
.dateWeek {
  //height: 1500px;
  overflow-y: hidden;
  box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
  border-bottom: 1px solid #eaeaea;
}
.titleBox {
  display: flex;
  justify-content: space-between;
  .iBox {
    font-size: 13px;
  }
}
.endStatus, .ingStatus, .preStatus {
  position: relative;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(189, 189, 189, 0.6);
    position: absolute;
    left: 0;
    border-radius: 50%;
  }
}
.ingStatus:before {
  background: rgba(122, 219, 62, 0.2);
}
.preStatus:before {
 background: rgba(25, 120, 254, 0.2);
}
