.ScheduleTable {
  .currentDay {
    background: #ebf2ff;
  }
}
.currentDay {
  background: #ebf2ff;
}
.dateList {
  //position: relative;
  .dateChildren {
    position: absolute;
    z-index: 2;
    height: 20px;
    color: #fff;
  }
}
.iconBox {
  i {
    margin: 0 5px;
    cursor: pointer;
  }
  .anticonDelete{
    color: red;
    cursor: pointer;
  }
}
