html,
body,
:global(#root) {
  height: 100%;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

// temp fix for https://github.com/ant-design/ant-design/commit/a1fafb5b727b62cb0be29ce6e9eca8f579d4f8b7
:global {
  .ant-spin-container {
    overflow: visible !important;
  }
  .ant-menu .ant-menu-submenu-title, .ant-menu-inline .ant-menu-item {
    margin: 0 !important;
  }
  .ant-form .ant-form-item{
    margin-bottom: 15px !important;
  }
  .ant-table-body {
    position: relative;
  }
  .ant-table-fixed-left, .ant-table-fixed-right {
    z-index: 2;
  }
  //.ant-table-thead tr th {
  //  position: fixed;
  //}
  .ant-form .ant-form-item-label {
    min-width: 100px;
    text-align: left;
  }
  .ant-form-item-required::before {
    display: inline-block !important;
    margin-right: 4px;
    content: "*" !important;
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
  }

  .price-checkbox {
    text-align: center;
  }

}
