html,
body,
:global(#root) {
  height: 100%;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5 !important;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

// temp fix for https://github.com/ant-design/ant-design/commit/a1fafb5b727b62cb0be29ce6e9eca8f579d4f8b7
:global {
  i.anticon-menu-unfold{
    justify-content: center;
    -webkit-justify-content: center;
  }
  i.anticon-menu-fold {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
  .ant-spin-container {
    overflow: visible !important;
  }
  .ant-menu .ant-menu-submenu-title, .ant-menu-inline .ant-menu-item {
    margin: 0 !important;
  }
  .ant-form .ant-form-item{
    margin-bottom: 15px !important;
  }
  .ant-table-body {
    position: relative;
  }
  .ant-table-fixed-left, .ant-table-fixed-right {
    z-index: 2;
  }
  .ant-table-thead > tr.ant-table-row-hover > td,
  .ant-table-tbody > tr.ant-table-row-hover > td,
  .ant-table-thead > tr:hover > td,
  .ant-table-tbody > tr:hover > td {
    background: #ebf2ff !important;
  }
  .ant-table-tbody > tr > td, .ant-table-thead > tr > th {
    border: 0 !important;
  }
  .ant-table-thead > tr > th {
    background: rgba(233, 244, 255, 1) !important;
  }
  .ant-table-tbody > tr:nth-child(even) {
    background: rgba(246, 246, 246, 1) !important;
  }
  .ant-input-number {
    width: 100% !important;
  }
  //.ant-table-thead tr th {
  //  position: fixed;
  //}
  .ant-form .ant-form-item-label {
    min-width: 100px;
    text-align: left;
  }
  .ant-form-item-required::before {
    display: inline-block !important;
    margin-right: 4px;
    content: "*" !important;
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
  }

  .price-checkbox {
    text-align: center;
  }
  #editTable .ant-spin-container, #editTable .ant-table, #editTable .ant-table-body {
    position: static !important;
  }
  // 选择框
  #editTable .ant-table .ant-table-content .ant-table-body table .ant-table-thead .ant-table-selection-column span {
    position: absolute;
    bottom: 2%;
    left: 2.3%;
  }
  .anticon-delete {
    display: none !important;
  }
  .ant-table {
    overflow: visible !important;
  }
  .ant-layout {
    //background: transparent !important;
  }
  .ant-card-bordered {
    border: none !important;
  }
}
